{% extends 'main.html' %} {% block content %} {% load static %}

<div class="page-content">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Model (Prediksi)</h5>
    </div>
    <div class="card-body">
      <div class="form">
        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="fileInput" class="form-label">Brand</label>
                <select class="form-select" name="brand" aria-label="select">
                  <option selected disabled>-- Pilih Brand --</option>
                  <option value="Rabbani">Rabbani</option>
                  <option value="Zoya">Zoya</option>
                  <option value="Nafisa">Nafisa</option>
                  <option value="Elzatta">Elzatta</option>
                  <option value="Nadiraa">Nadiraa</option>
                  <option value="Ria Miranda">Ria Miranda</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="fileInput" class="form-label">Jenis</label>
                <select class="form-select" name="jenis" aria-label="select">
                  <option selected disabled>-- Pilih Jenis --</option>
                  <option value="Instan">Instan</option>
                  <option value="Instan Syari">Instan Syari</option>
                  <option value="Segi Empat">Segi Empat</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="fileInput" class="form-label">Bahan</label>
                <select class="form-select" name="bahan" aria-label="select">
                  <option selected disabled>-- Pilih Bahan --</option>
                  <option value="Polyester">Polyester</option>
                  <option value="Crepe">Crepe</option>
                  <option value="Voal">Voal</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="fileInput" class="form-label">Harga</label>
                <select class="form-select" name="harga" aria-label="select">
                  <option selected disabled>-- Pilih Harga --</option>
                  <option value="tinggi">Tinggi</option>
                  <option value="sedang">Sedang</option>
                  <option value="rendah">Rendah</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="fileInput" class="form-label">Ukuran Kain</label>
                <select
                  class="form-select"
                  name="ukuran_kain"
                  aria-label="select"
                >
                  <option selected disabled>-- Pilih Ukuran Kain --</option>
                  <option value="besar">Besar</option>
                  <option value="sedang">Sedang</option>
                  <option value="kecil">Kecil</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Prediksi</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card mt-2" >
    <div class="card-header">
      <h5 class="card-title">Pohon Keputusan</h5>
    </div>
    <div class="card-body" style="overflow-x: auto;">
      {% if prediction %}
      <h2>Hasil Prediksi: <span class="text-capitalize">{{ prediction }}</span></h2>
      <img
        src="{% static "dashboard/tree_visualization.png" %}"
        alt="Visualisasi Pohon Keputusan" style="width: 100%; height:auto;"
      />
      {% endif %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $("#example").DataTable();
  });
</script>
{% endblock %}
