{% extends 'main.html' %}
{% block content %}
{% load static %}


<div class="page-content">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Performance</h5>
    </div>
    <div class="card-body">
      <div class="">
        <h5 class="card-title mb-3">Tabel Performance</h5>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <tbody class="text-center">
              <tr>
                  <td>Akurasi</td>
                  <td>{{ performance.accuracy|floatformat:2 }}</td>
              </tr>
              <tr>
                  <td>Presisi</td>
                  <td>{{ performance.precision|floatformat:2 }}</td>
              </tr>
              <tr>
                  <td>Recall</td>
                  <td>{{ performance.recall|floatformat:2 }}</td>
              </tr>
              <tr>
                  <td>F1 Score</td>
                  <td>{{ performance.f1_score|floatformat:2 }}</td>
              </tr>
              {% comment %} <tr>
                  <td>Waktu Pelatihan</td>
                  <td>{{ performance.created_at }}</td>
              </tr> {% endcomment %}
          </tbody>
      </table>
      
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('#example').DataTable();
  });
</script>
{% endblock %}