{% extends 'main.html' %}
{% block content %}
{% load static %}


<div class="page-content">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Kelola Data</h5>
    </div>
    <div class="card-body">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle me-2"></i>
        <div>{{ message }}</div>
      </div>
      {% endfor %}
      {% endif %}
      <div class="form">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="fileInput" class="form-label">Import Excel</label>
                <p>
                  <small>
                    Silahkan download file template.
                    <a href="{% static 'excel/penjualan_kerudung.xlsx' %}">Download Template Excel</a>
                  </small>
                </p>
                <input type="file" class="form-control" id="fileInput" name="file" aria-describedby="fileHelp" />
              </div>
            </div>
            <div class="col"></div>
          </div>
          <small>*Melakukan import data, akan mengkosongkan semua data penjualan terlebih dahulu.</small> <br>
          <button type="submit" class="btn btn-primary">Kirim</button>
        </form>
      </div>

      <div class="mt-5">
        <div class="d-flex my-1 align-items-center justify-content-between">
          <h5 class="card-title mb-3">Tabel Kelola Data</h5>
          <a href="{% url 'processing_data' %}" class="btn btn-success">Proses Data</a>
        </div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead class="text-center">
            <tr class="table-success">
              <th scope="col">#</th>
              <th>Tanggal</th>
              <th>Brand</th>
              <th>Jenis</th>
              <th>Bahan</th>
              <th>Harga</th>
              <th>Ukuran Kain</th>
              <th>Terjual</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for penjualan in penjualans %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ penjualan.tanggal }}</td>
              <td>{{ penjualan.brand }}</td>
              <td>{{ penjualan.jenis }}</td>
              <td>{{ penjualan.bahan }}</td>
              <td>{{ penjualan.harga }}</td>
              <td>{{ penjualan.ukuran_kain }}</td>
              <td>{{ penjualan.terjual }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('#example').DataTable();
  });
</script>
{% endblock %}